@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome To My Scripture Journal</h1><br>
        <br>
        <br>
        <h4>To access the online versions of the Scrtptures click the links below</h4><br>
        <br>
        <p><a href="https://www.churchofjesuschrist.org/study/scriptures/ot?lang=eng">Old Testament</a></p>
        <p><a href="https://www.churchofjesuschrist.org/study/scriptures/nt?lang=eng">New Testament</a></p>
        <p><a href="https://www.churchofjesuschrist.org/study/scriptures/bofm?lang=eng">Book Of Mormon</a></p>
        <p><a href="https://www.churchofjesuschrist.org/study/scriptures/dc-testament?lang=eng">Doctrine and Covenants</a></p>
        <p><a href="https://www.churchofjesuschrist.org/study/scriptures/pgp?lang=eng">Pearl of Great Price</a></p>
    </div>
