@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>I went to a couple of websites and reviewed different privacy policies.</p>
<p>Unfortunately, after answering their questions I was requested to submit a credit card.</p>
<p>So, to make it brief you can use this in any way you would like as long as I get an “A” on the project. </p>
<p>I cannot promise that any Personal information obtained on this site won’t be sold to a third world 
    cyber hacking country or any bad actor country ending in the suffix “stan”.</p>
