@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>I went to a couple of websites and reviewed different privacy policy’s.</p><br>
<p>Unfortunately after answering their questions I was requested to submit a credit card </p><br>
<p>So to make it brief you can use this in any way you would like as long as I get an A on the project </p>
<p>I cannot promise that any PII obtained on this site wont be sold to a third world cyber hacking country or any bad actor country ending in stan.</p>
